* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0rem !important;
  margin: 0rem !important;
}
.notification-mesage ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}